<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>TO DO List</h1>  
    </main>
    <form id="task-form">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" placeholder="Add task title"><br>
        <label for="desciption">Description:</label><br>
        <input type="text" id="description" name="description" placeholder="Add task description (optional)"><br><br>
        <input type="submit" value="Submit">
    </form>


    <script src="static/index.js"></script>


    <h2>Lista zadań:</h2>
    <dl>
        {% for task in tasks %}
            <!-- <dt>{{ task.title }}</dt>
            <dd>{{ task.title }}</dd> -->
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">{{ task.title }}</label><br>
            <label for="vehicle1">{{ task.description }}</label><br>
        {% endfor %}
    </dl>




      
    
  </body>
</html>
